<div id="new-comment">
  <%= form_with model: [post, post.comments.build], local: true do |f| %>
    <%= f.text_field :content, size: 40, placeholder: "Insert a comment..." %>
    <%= f.submit 'Submit', class: "submit" %>
  <% end %>
</div>